body{
   
    background-color: crimson;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}

input{
    background-color: wheat;
    border-radius: 60px;
    border-color: brown;
    color: brown;
}

button{

    background-color: wheat;
    border-radius: 60px;
    color: brown;
    font-weight: bold;
    border-color: brown;
}



